/* 7ºA. vamos fazer diferente, pegar o @import
e nao o link. copie tudo menos a tag style */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

/*8º vamos aproveitar e colocar os estilos glogais da fonte */
.{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/*9º vamos fazer o nosso caixote "links superior"*/
header {
    margin-top: 47px; /*margem de cima */
    margin-left: 42px; /*margem do lado */
}

/*10ºA link-menu*/
.link-menu { /*10ºB vamos pegar as confirgurações que o
    figma nos da*/
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center; /*é o alinhamento do texto*/
    letter-spacing: 0.875px; /*é o espaçamento das letras*/
    color: #172330;
    cursor: pointer; /*pointer=maozinha*/

/*11º a distancia de um MENU ao outro é 32px*/
    margin-right: 32px; /*margem lado direito 32px*/
}

/*12º agora vamos para o nosso botão*/
/*12A dê um nome para o nosso botão*/
/*12B pegue as configurações do botão*/
.button-sign-up {
    background: #6FBF44;
    border: 1px solid #4CB538;
    /*box-sizing: border-box;tiramos ele porque ja temos em cima */
    border-radius: 6px;
/*13º vamos para o html e dentro da tag button colocaremos o CLASS dentro do header*/
    width: 124px; /*vamos colocar a largura e a altura*/
    height: 51px;
    cursor: pointer; /*pointer=maozinha*/
    /*vamos pegar as configurações do botão LOG IN*/
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; /*Essa propriedade tem o objetivo de definir a
    altura da caixa que um conteúdo de texto pertence. 
    É preciso estamos atentos a esse detalhe! 
    O line-height definirá a altura que o texto pode ocupar, 
    mas não definirá o tamanho daquele texto, pois para isso 
    temos a propriedade font-size */
    letter-spacing: 1px;
    color: #FFFFFF;
}
/*14º vamos dar a margem do FIGMA estilo relogio, da esq. p/ dir.*/

img {
    margin: 163px 0 0 123px; /*em cima 163, direito 0, embaixo 0, esquedo 123px*/
/*17ºA na imagem vamos colocar display inline-block*/
    display: inline-block; /*No display inline, todos os elementos 
    preenchem uma única linha, por isso ficam alinhados, no caso 
    do block, cada elemento da lista ocupa uma linha, por isso 
    ficam um abaixo do outro. Comparado com inline, a principal 
    diferença é que display: inline-block permite definir uma 
    largura e altura no elemento*/
}
/*18º na div vamos colocar display inline-block*/
div {
    display: inline-block;
    /*20º da nossa div até a imagem 84px. que é o espaço entre eles.*/
    margin-left: 84px; /*left=lado esquerdo.*/
    /*21º vamos delimitar o temanho do h1 para pular uma linha*/
    width: 582px;
}
/*15º vamos agora para o h1, parágrafo e por ultimo o botão*/

h1 { /*15ºA COMEÇAREMOS PELO H1*/
    font-family: Poppins; /*precisa colocar a fonte*/
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596154px;
    /*text-align: left;*/ /*nao precisa colocar*/
    color: #161A49;
    /*22º vamos distanciar o paragrafo do botao learn more.
    ou seja, pra cima tem 47px e pra baixo 55px*/
    margin-top: 47px; /*margem do topo*/
    margin-bottom: 55px; /*margem de baixo*/    
}
p { /*15ºB DEPOIS O PARÁGRAFO*/
    /*font-family: Poppins;*/ /*nao precisa colocar*/
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    /*text-align: left;*/ /*nao precisa colocar*/
    color: #4B505A;
    /*19º colocar a largura para que o texto fique ao lado 
    da imagem*/
    width: 493px;
}
/*15ºC vamos dar uma classe para o botão no html da tag main*/
.button-learn-more {
    /*font-family: Poppins;*/ /*nao precisa colocar*/
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    /*text-align: left;*/ /*nao precisa colocar*/
    color: #6FBF44;
    cursor: pointer; /*colocar maozinha do cursor*/
/*16º vamos tirar as bordas do cursor*/
    background: transparent; /*deixar o fundo transparente*/
    border: none; /*sem borda*/
}
/*17º VAMOS ESTILIZAR A NOSSA DIV*/